.playpause {
  display: flex;
  justify-content: center;
  padding: 20px;
  /* border-radius: 50%; */
  /* background: transparent; */
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* .playpause:hover {
  background: #464646;
} */

.playpause .button {
  width: 80px;
  height: 80px;
  background: #f0f0f0;
  transition: inherit;
  clip-path: polygon(
    0 0,
    50% 25%,
    50% 75%,
    50% 75%,
    50% 25%,
    100% 50%,
    100% 50%,
    0 100%
  );
}

.playpause.playing .button {
  clip-path: polygon(
    0 0,
    40% 0,
    40% 100%,
    60% 100%,
    60% 0,
    100% 0,
    100% 100%,
    0 100%
  );
}
